<ul class='d-flex list-unstyled'>
  <li><i class="fas fa-pen ml-4 icons"></i></li>
    <li><i class="fas fa-envelope ml-4 icons"></i></li>
  <li><i class="fas fa-search ml-4 icons"></i></li>
  <li><i class="fas fa-cog icons mx-3"></i></li>
</ul>