<%= form_with(model: @post) do |form| %>

  <div class="shadow rounded">
    <div class="text-area mx-auto py-3">
        <div>
          <%= form.text_area :body,  class: "form-control"%>
          </div>

     <div class="">
     
     <%= form.hidden_field :user_id, value: @user.id  %>
    </div>

      <div class="actions">
        <%= form.submit 'Share thoughts', class:'btn btn-primary mt-2' %>
      </div>
    </div>
  </div>
  


  
<% end %>
