  
<div class="who-to-follow pl-3">
  <div class="who-to-follow-header d-flex align-items-center justify-content-between py-3 pr-3">
    <p class="mb-0 text-muted font-weight-bold">WHO TO FOLLOW</p>
    <%= link_to root_path, class: 'text-muted' do %>
     <p><i class="fas fa-sync-alt"></i></p>
    <% end %>
  </div>
 

  <div >
    <% @users.each do |user| %>
      <article class=" d-flex align-items-center my-3">
        
        <div class="pl-2">
          <h5 class=" font-14 text-dark mb-0 font-weight-bold text-break"><%= link_to user.username, user_path(user) %></h5>
          
        </div>
      </article>
    <% end %>
  </div>
